<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="date" content="">
    <title></title>
</head>

<script th:if="${session.login eq null}">
	alert('로그인 이후 이용해주세요');
	location.href="index";
</script>

<body>

	<form action="boardUpload" method="POST" enctype="multipart/form-data">
		<table>
			<caption>게시글 등록</caption>

			<tr>
				<th>작성자</th>
				<td th:if="${session.login ne null}"><input type="hidden" name="boWriter" th:inline="text" th:value="${session.login.mId}" th:text="${session.login.mId}"/></td>
			</tr>

			<tr>
				<th>제목</th>
				<td><input type="text" name="boTitle" /></td>
			</tr>
			
			<tr>
				<th>내용</th>
				<td><textarea rows="20" cols="40" name="boContent"></textarea></td>
			</tr>
			
			<tr>
				<th>첨부파일</th>
				<td><input type="file" name="boImageFile" /></td>
			</tr>

			<tr>
				<td colspan="2">
				<input type="submit" value="등록" />
				<input type="reset" value="다시작성" /></td>
			</tr>
			
		</table>
	</form>
	
</body>
</html>