<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
table, tr, td, th {
	border: 1px solid;
	border-collapse: collapse;
	padding: 10px;
	text-align: center;
}
</style>
</head>
<script th:if="${session.login eq null}">
	alert('로그인 이후 이용해주세요');
	location.href="memberLogin";
</script>
<body>
	
	<div>
		<button onclick="location.href='index'">홈페이지</button>
	</div>
	<form method="post" action="/kakaoPay">
		<div id="cartListArea"></div>
	</form>
	
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://service.iamport.kr/js/iamport.payment-1.1.5.js"></script>
<script type="text/javascript" th:inline="javascript">
	var CheckLogin = [[${session.login}]]
	
	if(CheckLogin != null){
		var sessionId = [[${session.login.mId}]]
	}
	
	$(document).ready(function(){
		$.ajax({
			type : "POST",
			url : "ajaxCartList",
			data : {"caMid" : sessionId},
			dataType : "json",
			success : function(list){
				cartList(list);
			},
			error : function(){
				alert("실패");
			}
		});
		
		function cartList(list){
			var output = "";
			var muprice = $(list).length;
			
			if(muprice <= 0){
				output += "<table>";
				output += "<tr>";
				output += "<th>장바구니가 비어있습니다.</th>";
				output += "</tr>";
			} else{
				output += "<table>";
				output += "<tr>";
				output += "<th>프로필</th>";
				output += "<th>제목</th>";
				output += "<th>가수</th>";
				output += "<th>좋아요</th>";
				output += "<th>조회수</th>";
				output += "<th>금액</th>";
				output += "<th>삭제</th>";
				output += "</tr>";
			}
			
			for(var i in list){
				output += "<tr>";
				output += "<td><img src='/muImage/"+list[i].muImage+"' style='width: 200px;'></td>";
				output += "<td><a href='muView?muCode="+list[i].muCode+"&mId="+list[i].muSinger+"'><span id='"+list[i].muCode+"' class='cartMusicName' value='"+list[i].muSinger+"' name='"+list[i].muName+"'>"+list[i].muName+"</span></a></td>";
				output += "<td>"+list[i].muSinger+"</td>";
				output += "<td>"+list[i].muLike+"</td>";
				output += "<td>"+list[i].muHit+"</td>";
				output += "<td>500원</td>";
				output += "<td style='background-color: red; color: white;' id='"+list[i].muCode+"' class='cartDelect'>장바구니 삭제</td>";
				output += "</tr>";
			}
			
			if(muprice <= 0){
				output += "</table>";
			} else{
				output += "<tr>";
				output += "<th>총금액</th>";
				output += "<td colspan = 5 name='price' value='"+muprice * 500+"' id='totalPrice'>"+muprice * 500+"원</td>";
				output += "<td><button id='check_module' type='button'>결제하기</button></td>"
				output += "<tr>";
				output += "</table>";
			}
			
			var cartListArea = document.getElementById('cartListArea');
			cartListArea.innerHTML = output;
			
			var cartMusicName = document.getElementsByClassName('cartMusicName');
			
			var firstCartMusicName = $('.cartMusicName').attr('name');
				
			console.log(firstCartMusicName);
			
			
			$(".cartDelect").click(function(){
				
				var muCode = $(this).attr('id');
				console.log("muCode : "+muCode);
				
				$.ajax({
					type : "POST",
					url : "cartListDelete",
					data : {"caMuCode" : muCode,
							"caMid" : sessionId
							},
					dataType : "json",
					success : function(list){
						cartList(list);
					},
					error : function(){
						alert('장바구니 삭제 실패');
					}
				});
				
			});
			
			$("#check_module").click(function () {
				var IMP = window.IMP; // 생략가능
				IMP.init('imp58457377');
				// 'iamport' 대신 부여받은 "가맹점 식별코드"를 사용
				// i'mport 관리자 페이지 -> 내정보 -> 가맹점식별코드
				IMP.request_pay({
					pg: 'inicis', // version 1.1.0부터 지원.
					/*
					'kakao':카카오페이,
					html5_inicis':이니시스(웹표준결제)
						'nice':나이스페이
						'jtnet':제이티넷
						'uplus':LG유플러스
						'danal':다날
						'payco':페이코
						'syrup':시럽페이
						'paypal':페이팔
					*/
				pay_method: 'card',
					/*
					'samsung':삼성페이,
					'card':신용카드,
					'trans':실시간계좌이체,
					'vbank':가상계좌,
					'phone':휴대폰소액결제
					*/
				merchant_uid: 'merchant_' + new Date().getTime(),
					/*
					merchant_uid에 경우
					https://docs.iamport.kr/implementation/payment
					위에 url에 따라가시면 넣을 수 있는 방법이 있습니다.
					참고하세요.
					나중에 포스팅 해볼게요.
					*/
					
				name: '노래제목:'+firstCartMusicName+' 외'+ (muprice-1) +'곡',
				//결제창에서 보여질 이름
				
				amount: muprice * 500,
				//가격
				
				buyer_email: 'iamport@siot.do',
				buyer_name: sessionId,
				buyer_tel: '010-1234-5678',
				buyer_addr: '서울특별시 강남구 삼성동',
				buyer_postcode: '123-456',
				m_redirect_url: 'https://www.yourdomain.com/payments/complete'
					/*
					모바일 결제시,
					결제가 끝나고 랜딩되는 URL을 지정
					(카카오페이, 페이코, 다날의 경우는 필요없음. PC와 마찬가지로 callback함수로 결과가 떨어짐)
					*/
				}, function (rsp) {
					console.log(rsp);
					if (rsp.success) {
						var msg = '결제가 완료되었습니다.';
						msg += '고유ID : ' + rsp.imp_uid;
						msg += '상점 거래ID : ' + rsp.merchant_uid;
						msg += '결제 금액 : ' + rsp.paid_amount;
						msg += '카드 승인번호 : ' + rsp.apply_num;
						
						$('.cartMusicName').each(function(){
							var cartMusicCode = $(this).attr('id');
							var cartMusicSinger = $(this).attr('value');
							console.log(cartMusicCode);
							console.log(cartMusicSinger);
							console.log(sessionId);
							
							$.ajax({
								type: "POST",
								url: "payInsert",
								data: { "pMuCode" : cartMusicCode,
										"pbMid" : cartMusicSinger,
										"psMid" : sessionId},
								dataType : "json",
								async: false,
								success : function(list){
									cartList(list);
									console.log('성공');
								},
								error : function(){
									console.log('결제테이블 등록 실패');
								}
							});
						});
						
					} else {
						var msg = '결제에 실패하였습니다.';
						msg += '에러내용 : ' + rsp.error_msg;
					}
					alert(msg);
				});
			});
		}
		
	});
	
</script>
</html>