<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<script th:if="${session.login eq null}">

    alert('로그인 이후 이용해주세요.');
    location.href = "memberLogin";
</script>
<style>
    a:link{
        color: black;
    }
    a:visited{
        color: black;
    }
    a:hover{
        color: black;
    }
    a:active{
        color: black;
    }
    a{
        text-decoration-line: none;
    }
</style>
<body>

<table>
    <caption>음악 상세보기</caption>
    <tr>
        <th>번호</th>
        <td><input type="hidden" th:value="${muView.muCode}" th:id="muCode" th:text="${muView.muCode}">
        <td>
    </tr>
    <tr>
        <th>가수</th>
        <td th:text="${muView.muSinger}">
        <td>
    </tr>
    <tr>
        <th>음악이름</th>
        <td th:text="${muView.muName}">
        <td>
    </tr>
    <tr>
        <th>음악장르</th>
        <td th:text="${muView.muGanre}">
        <td>
    </tr>
    <tr>
        <th>등록일</th>
        <td th:text="${muView.muDate}">
        <td>
    </tr>
    <tr>
        <th>가사</th>
        <td th:text="${muView.muLyrics}">
        <td>
    </tr>
    <tr>
        <th>조회수</th>
        <td th:text="${muView.muHit}">
        <td>
    </tr>
    <tr>
    <tr>
        <th>가격</th>
        <td th:text="${muView.muPrice}">
        <td>
    </tr>
    <tr>
        <th>음악파일</th>
        <td>
            <audio controls="controls">
                <source th:src="@{/audio/{mFile}(mFile=${muView.mFile})}" style="width:200px;" type="audio/mpeg">
            </audio>
        <td>
    </tr>
    <tr>
        <th>이미지</th>
        <td><img th:src="@{/muImage/{muImage}(muImage=${muView.muImage})}" style="width:200px;"/>
        <td>
    </tr>
    <tr>
        <th>좋아요
            <img th:if="${muView.muLike}==0" th:src="@{/heart/heart1.png}" style="width:30px;" HEIGHT="30" th:class="Heart"  th:id="LikeImg"/>
            <img th:if="${muView.muLike}!=0" th:src="@{/heart/heart2.png}" style="width:30px;" HEIGHT="30" th:class="HeartDown"  th:id="LikeImgDown"/>
        </th>
        <td><a th:href="@{muLikeList(muCode=${muView.muCode})}" th:text="${muView.muLike}+'명이 좋아합니다.'" th:id="muLike"></a></td>
    </tr>
    <tr>
        <td><a th:href="@{fileModiForm(muCode=${muView.muCode})}">
            <button type="button">수정</button>
        </a>
            <a th:href="@{fileDelete(muCode=${muView.muCode})}">
                <button type="button">삭제</button>
            </a></td>
    </tr>

</table>
<input type="hidden" th:value="${muView.heartImg}" th:id="heartImg">
<input type="hidden" th:value="${session.login.mId}" th:id="mId">

</body>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script th:inline="javascript">
   $(document).ready(function (){
       // var muLike = document.getElementById('muLike');  //이미지 클릭시 화면에 출력되는 숫자 값
       var heartImg = document.getElementById('heartImg').value; //뮤직 테이블에 있는 heartImg 컬럼에 들어갈 값
       const muCode = document.getElementById('muCode').value; // 음악 코드 값
       const mId = document.getElementById('mId').value; // 아이디 값`
       const LikeImg = document.getElementById('LikeImg'); //좋아요 이미지 아이디
       const LikeImgDown = document.getElementById('LikeImgDown'); //좋아요취소 이미지 아이디
       console.log('하트 : '+heartImg);
       console.log('코드'+muCode);
       console.log('아이디'+mId);
       console.log('이미지'+LikeImg);
       console.log('다운이미지'+LikeImgDown);

       //else if 문으로 아이디와 하트이미지를 비교하는 거 해보기.
       if(heartImg>0){
           LikeImgDown.src ="/heart/heart2.png";
       }else{
           LikeImg.src ="/heart/heart1.png";
       }



       //좋아요 버튼을 클릭 시 실행되는 코드
       $("#LikeImg").click(function () {
           $.ajax({
               type:"POST",
               url:"LikeUp",
               data:{
                   "muCode":muCode
               },
               dataType:"json",
               success:function (data) {
                   console.log(data);
                   $.ajax({
                       type: "POST",
                       url: "LikeUpInsert",
                       data: {
                           "mulmuCode": muCode,
                           "mulMid":mId
                       },
                       dataType: "json",
                       success: function (likeinsert) {

                       },
                       error: function () {
                           alert("좋아요 실패2");
                       }
                   });
                   if(data != ""){
                       $("#LikeImgDown").attr("src","/heart/heart2.png");
                       location.reload();//페이지 강제 불러오기 옵션
                   }else{
                       $("#LikeImg").attr("src","/heart/heart1.png");
                       location.reload();
                   }
               },
               error:function () {
                   console.log('오타가 숨어있다.');
               }
           });

       });
   });
   $("#LikeImgDown").click(function () {
       var heartImg = document.getElementById('heartImg').value; //뮤직 테이블에 있는 heartImg 컬럼에 들어갈 값
       const muCode = document.getElementById('muCode').value; // 음악 코드 값
       const mId = document.getElementById('mId').value; // 아이디 값`
       const LikeImg = document.getElementById('LikeImg'); //좋아요 이미지 아이디
       const LikeImgDown = document.getElementById('LikeImgDown'); //좋아요취소 이미지 아이디
       console.log('다운 하트이미지'+heartImg);
       console.log('다운 코드'+muCode);
       console.log('다운 아이디'+mId);
       console.log('다운 라이크이미지'+LikeImg);
       console.log('다운 다운이미지'+LikeImgDown);
       $.ajax({
           type:"POST",
           url:"LikeDown",
           data:{
               "muCode":muCode
           },
           dataType:"json",
           success:function (Down) {

               $.ajax({
                   type: "POST",
                   url: "LikeUpDelete",
                   data: {
                       "mulMid":mId,
                       "mulmuCode": muCode
                   },
                   dataType: "json",
                   success: function (likeDelete) {

                   },
                   error: function () {
                       alert("좋아요취소 실패");
                   }
               });
               if(Down == ""){
                   $("#LikeImg").attr("src","/heart/heart1.png");
                   location.reload();//페이지 강제 불러오기 옵션
               }else{
                   $("#LikeImgDown").attr("src","/heart/heart2.png");
                   location.reload();
               }
           },
           error:function () {
               console.log('오타가 숨어있다.!!!');
           }
       });
   });

</script>


</html>