<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<script th:if="${session.login eq null}">

    alert('로그인 이후 이용해주세요.');
    location.href = "memberLogin";
</script>
<style>
    /*a:link {*/
    /*    color: black;*/
    /*}*/

    /*a:visited {*/
    /*    color: black;*/
    /*}*/

    /*a:hover {*/
    /*    color: black;*/
    /*}*/

    /*a:active {*/
    /*    color: black;*/
    /*}*/

    /*a {*/
    /*    text-decoration-line: none;*/
    /*}*/
    #modal {
        display:none;
        position:absolute;
        top : 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        width:100%;
        height:100%;
        z-index:1;
    }

    #modal h2 {
        margin:0;
    }

    #modal button {
        display:inline-block;
        width:100px;
        margin-left:calc(100% - 100px - 10px);
    }

    #modal .modal_content {
        width:300px;
        margin:100px auto;
        padding:20px 10px;
        background:#fff;
        border:2px solid #666;
    }

    #modal .modal_layer {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(255, 255, 255);
        z-index: -1;
    }

</style>
<body>

<table>
    <caption>음악 상세보기</caption>
    <tr>
        <th>번호</th>
        <td><input type="hidden" th:value="${muView.muCode}" th:id="muCode" th:text="${muView.muCode}">
        <td>
    </tr>
    <tr>
        <th>가수</th>
        <td th:text="${muView.muSinger}">
        <td>
    </tr>
    <tr>
        <th>음악이름</th>
        <td th:text="${muView.muName}">
        <td>
    </tr>
    <tr>
        <th>음악장르</th>
        <td th:text="${muView.muGanre}">
        <td>
    </tr>
    <tr>
        <th>등록일</th>
        <td th:text="${muView.muDate}">
        <td>
    </tr>
    <tr>
        <th>가사</th>
        <td th:text="${muView.muLyrics}">
        <td>
    </tr>
    <tr>
        <th>조회수</th>
        <td th:text="${muView.muHit}">
        <td>
    </tr>
    <tr>
    <tr>
        <th>가격</th>
        <td th:text="${muView.muPrice}">
        <td>
    </tr>
    <tr>
        <th>음악파일</th>
        <td>
            <audio controls="controls">
                <source th:src="@{/audio/{mFile}(mFile=${muView.mFile})}" style="width:200px;" type="audio/mpeg">
            </audio>
        <td>
    </tr>
    <tr>
        <th>이미지</th>
        <td><img th:src="@{/muImage/{muImage}(muImage=${muView.muImage})}" style="width:200px;"/>
        <td>
    </tr>
    <tr>
        <th>좋아요
            <button th:if="${LikeCheck eq 0}"  style="width:30px;" HEIGHT="30"
                    th:id="LikeImg" th:value="Like">👍</button>
            <button th:if="${LikeCheck eq 1}"  style="width:30px;" HEIGHT="30"
                    th:id="LikeImg" th:value="LikeDown">👍</button>
        </th>
        <td><div th:id="root"><button th:type="button" th:text="${list}+'명이 좋아합니다.'" th:id="muLike"></button></div></td>
    </tr>
    <tr>
        <td><a th:href="@{fileModiForm(muCode=${muView.muCode})}">
            <button type="button">수정</button>
        </a>
            <a th:href="@{fileDelete(muCode=${muView.muCode})}">
                <button type="button">삭제</button>
            </a></td>
    </tr>

</table>

<input th:if="${session.login ne null}" type="hidden" th:value="${session.login.mId}" th:id="mId">


<!--<div>-->
<!--    <div th:each = 'list:${list}'>-->
<!--        <img th:if="${session.login.mId.equals('${list.mulMid}')}" th:src="@{/heart/heart1.png}" style="width:30px;" HEIGHT="30" th:class="Heart"  th:id="LikeImg"/>-->
<!--    </div>-->
<!--</div>-->


<div>
    <textarea rows="5" cols="20" th:id=mcContent></textarea>
    <button th:id="mcCommBtn">댓글 입력</button>
</div>
<div th:id="mucommentArea">
</div>
<div th:id="modal">
    <div th:class="modal_content">
        <h2>모달 창</h2>
        <p>모달 창 입니다.</p>
        <button th:type="button" th:id="modal_close_btn">모달 창 닫기</button>
    </div>
    <div th:class="modal_layer"></div>
</div>
</body>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script th:inline="javascript">
    var loginId = $("#mId").val();
    // var muLike = document.getElementById('muLike');  //이미지 클릭시 화면에 출력되는 숫자 값

    const muCode = document.getElementById('muCode').value; // 음악 코드 값
    //const mId = document.getElementById('mId').value; // 아이디 값

    $(document).ready(function () {
        //댓글 div 실행
        var mcCode = $("#muCode").val();
        $.ajax({
            type: "POST",
            url: "mcList",
            data: {"mcCode": mcCode},
            dataType: "json",
            success: function (list) {
                commentList(list);
                console.log("댓글 리스트 : " + list);
            },
            error: function () {
                alert('실패');
            }
        })

        //댓글 버튼 클릭 시 ajax 실행
        $('#mcCommBtn').click(function () {
            if (!loginId) {
                alert('로그인 이후 사용하세요!');
                location.href = "memberLogin";
            } else {
                var mcMid = loginId;
                var mcContent = $('#mcContent').val();
                var mcMuNum = $('#muCode').val();

                $.ajax({
                    type: "POST",
                    url: "mcWrite",
                    data: {
                        "mcMid": mcMid,
                        "mcContent": mcContent,
                        "mcMuNum": mcMuNum
                    },
                    datatype: "json",
                    success: function (list) {
                        console.log("성공" + list);
                        commentList(list);
                        $('#mcContent').val("");
                    },
                    error: function () {
                        alert('댓댓 라잌 댓글 안됨');
                    }

                });
            }
        });

    });

    //좋아요 버튼을 클릭 시 실행되는 코드
    $("#LikeImg").click(function () {
        var loginId = $("#mId").val();
        const muCode = document.getElementById('muCode').value; // 음악 코드 값
        var LikeImg = $("#LikeImg").val();

        console.log('코드' + muCode);
        console.log('아이디 : ' + loginId);
        console.log('LikeImg : ' + LikeImg);

        if ($("#LikeImg").val() == "Like") {
            $.ajax({
                type: "POST",
                url: "LikeUp",
                data: {
                    "mulmuCode": muCode,
                    "mulMid": loginId
                },
                dataType: "json",
                success: function (likeUpCount) {
                    console.log("업 : " + likeUpCount)
                    $("#muLike").empty().append(likeUpCount + '명이 좋아합니다.');
                    $("#LikeImg").attr('value', 'LikeDown');

                },
                error: function () {
                    console.log('오타가 숨어있다.');
                }
            });
        } else {
            $.ajax({
                type: "POST",
                url: "LikeDown",
                data: {
                    "mulmuCode": muCode,
                    "mulMid": loginId
                },
                dataType: "json",
                success: function (likeDownCount) {
                    console.log('다운: ' + likeDownCount)
                    $("#muLike").empty().append(likeDownCount + '명이 좋아합니다.');
                    $("#LikeImg").attr('value', 'Like');
                },
                error: function () {
                    console.log('오타가 숨어있다.!!!');
                }
            });

        }


    });


    // 댓글 목록 조회
    function commentList(list) {
        var output = "";
        console.log("댓댓 리스트" + list);
        output += "<table>";
        output += "<tr>";
        output += "<th>작성자</th>";
        output += "<th>내용</th>";
        output += "<th>작성일</th>";
        output += "<th>수정</th>";
        output += "<th>삭제</th>";
        output += "</tr>";

        for (var i in list) {
            output += "<tr>";
            output += "<td>" + list[i].mcMid + "</td>";
            output += "<td>" + list[i].mcContent + "</td>";
            output += "<td>" + list[i].mcDate + "</td>";
            output += "<td>" + "</td>";
            if (list[i].mcMid == loginId) {
                output += "<td><button onclick='mcCommentModify(" + list[i].mcCode + "," + list[i].mcMuNum + ")'>수정</button></td>";
            } else {
                output += "<td><button disabled>수정</button></td>";
            }
            if (list[i].mcMid == loginId || loginId == 'admin') {
                output += "<td><button onclick = 'muCommentDelete(mcCode=" + list[i].mcCode + ",mcMuNum=" + list[i].mcMuNum + ")'>삭제</button></td>";
            } else {
                output += "<td><button disabled>삭제</button></td>";
            }

            output += "</tr>";
        }
        output += "</table>";
        var mucommentArea = document.getElementById('mucommentArea');
        mucommentArea.innerHTML = output;
    }

    function mcCommentModify(mcCode, mcMuNum) {
        var check = confirm('댓글을 수정하시겠습니까?');
        var mcContent = $('#mcContent').val();
        if (check) {
            $.ajax({
                type: "POST",
                url: "mcModify",
                data: {
                    "mcCode": mcCode,
                    "mcMuNum": mcMuNum,
                    "mcContent": mcContent
                },
                dataType: "json",
                success: function (list) {
                    commentList(list);
                    $('#mcContent').val(""); //작성한 내용 을 댓글입력과 동시에 내용을 "";
                },
                error: function () {
                    alert('댓글 수정 실패');
                }
            });
        }
    }

    function muCommentDelete(mcCode, mcMuNum) {
        var check = confirm('댓글을 삭제하시겠습니까?');

        $.ajax({
            type: "POST",
            url: "mcDelete",
            data: {"mcCode": mcCode, "mcMuNum": mcMuNum},
            dataType: "json",
            success: function (list) {
                commentList(list);
            },
            error: function () {
                alert('삭제 실패');
            }

        });
    }




</script>
<script>
    $("#muLike").click(function(){
        $("#modal").fadeIn();
    });

    $("#modal_close_btn").click(function(){
        $("#modal").fadeOut();
    });
</script>


</html>