<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>검색결과</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<head>	
</head>
<body>
    <form id="searchForm" action="/search" method="GET">
    	<div class="search_input">
			<input type="text" name="keyword" placeholder="입력바람 ">
			<button class="btn_search">검색</button>    	
    	</div>
    </form>
		<br/></br/><br/></br/>
		<h3 th:text="${keyword}+'로 검색한 결과가 없습니다'"></h3>


</body>
</html>