<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="kooky"/>
    <meta name="description" content="inputBoot index"/>
    <title>Title</title>
</head>

<body>
<div>
    <input id="playListSearch" type="text" placeholder="음악 제목 검색">
    <button th:id="searchBtn">검색</button>
</div>

<div th:id="SearchList"></div>
<input th:if="${session.login ne null}" type="hidden" th:value="${session.login.mId}" th:id="mId">
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript" th:inline="javascript">
    $(document).ready(function () {
        var loginId = $("#mId").val();
        console.log(loginId);
        $.ajax({
            type: "POST",
            url: "playListPrint",
            data: {
                "mId": loginId
            },
            dataType: "json",
            success: function (result) {
                console.log(result)
                playList(result)
            },
            error: function () {

            }
        });

        //searchBtn
        $("#searchBtn").click(function () {
            var playListSearch = $("#playListSearch").val();
            console.log('gd' + playListSearch);
            var muName = $("#muName").val();
            console.log('gd' + muName);
            $.ajax({
                type: "POST",
                url: "playListSearch",
                data: {
                    "muName": playListSearch
                },
                dataType: "json",
                success: function (result) {

                    playList(result);
                },
                error: function () {
                    console.log("ㅜㅜ")
                }
            });
        })
    });

    function playList(result) {
        var output = "";
        var loginId = $("#mId").val();
        for (var i in result) {
            (function (i) {
                $.ajax({
                    type: "POST",
                    url: "playListDeleteAjax",
                    data: {
                        "muSinger": result[i].muSinger
                    },
                    dataType: "json",
                    async:false, //반복문 할 때 사용. ajax를 동기식으로 변환
                    success: function (playListDeleteResult) {
                        console.log(playListDeleteResult);
                        output += "<div>"
                        output += "<table>"
                        output += "<tr>"
                        output += "<th><img src='/muImage/" + result[i].muImage + "' style='width:200px;'/></th>";
                        output += "<th>" + result[i].muSinger + "</th>";
                        output += "<th>" + result[i].muName + "</th>";
                        output += "<th><audio controls='controls' src='/audio/" + result[i].mFile + "'></audio></th>"
                        output += "<th><a href='PlayListDelete?mId=" +loginId +"&plmuCode="+playListDeleteResult[i].plmuCode+"'>삭제</a></th>";
                        output += "</tr>"
                        output += "</table>"
                        output += "<div>"
                    },
                    error: function () {
                        console.log("ㅜㅜ")
                    }
                });

            })(i);

        }
        var SearchList = document.getElementById("SearchList");
        SearchList.innerHTML = output;

    }

</script>


</html>