<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<head>	
    <style type="text/css"> 
 marquee{
 		height:20px;
 		}
/* marquee a{display:block;} */

/*#ba1,#ba2,#ba3{display:none;}*/

    </style> 
</head>
   <script type="text/javascript">

   </script>
        
<body>

<!--marquee 텍스트를 상하좌우 움직이는 태그 scrollamount: 스크롤 픽셀수 behavior: 스크롤 방식 direction :스크롤 방향-->
	<<!-- marquee behavior="scroll" direction="up" scrollamount="2">
   		<div>
		<ul th:each="searchRank , b : ${searchRank}">
			<li  th:text="${b.count}+'. '+${searchRank}"></li>
		</ul> 
		</div>
    </marquee>  -->
    
    <div id="rank"></div>
    
    <script>
    $(document).ready(function(){
     	
    	$.ajax({
    		type : "POST",
    		url :"test",
    		dataType:"json",
    		success : function(list){
    			
    			test(list);
    			
    			console.log(list);
    		},
    		error : function(){
    			alert("시르패르");
    		}
    	});
    	
     
    });



    	function test(list){
    		
    		for(var i in list){
    		
    		var output="";
    		output+="<ul>";
    		output+="<li>"+list[i].keyword+"</li>"
    		output+="</ul>"; 
    		
    		
    	
    		

    			var rank=document.getElementById('rank');
    			console.log("실시간"+rank);
    			rank.innerHTML=output;
    			
    		
    			}
    	}
    
    </script>
    
 
</body>
</html>