<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.icia.musicwired.dao.BoardDAO">

<!-- 게시글 등록 -->
	<insert id="boardUpload" parameterType="Board">
		INSERT INTO BOARD VALUES(BOARD_SEQ.NEXTVAL,#{boWriter},#{boTitle},#{boImage, jdbcType=VARCHAR},#{boContent},0,SYSDATE)
	</insert>
	
<!-- 게시글 전체목록 -->
	<select id="boardList" resultType="Board">
		SELECT * FROM BOARD ORDER BY BOCODE DESC
	</select>
	
<!-- 게시글 수정페이지 -->
	<select id="boardModiView" parameterType="int" resultType="Board">
		SELECT * FROM BOARD WHERE BOCODE = #{boCode}
	</select>
	
<!-- 게시글 수정 메소드 -->
	<update id="boardModify" parameterType="Board">
		UPDATE BOARD SET BOTITLE = #{boTitle}, BOIMAGE = #{boImage, jdbcType=VARCHAR}, BOCONTENT = #{boContent} WHERE BOCODE = #{boCode}
	</update>
	
<!-- 게시글 삭제 메소드 -->
	<delete id="boardDelete" parameterType="int">
		DELETE FROM BOARD WHERE BOCODE = #{boCode}
	</delete>
	
<!-- 게시글 전체목록(ajax) -->
	<select id="ajaxBoardList" resultType="Board">
		SELECT * FROM BOARD ORDER BY BOCODE DESC
	</select>
	
<!-- 좋아요 증가 메소드(ajax) -->
	<update id="boLikeUp" parameterType="int">
		UPDATE BOARD SET BOLIKE = BOLIKE + 1 WHERE BOCODE = #{boCode}
	</update>
	
<!-- 좋아요 클릭한 게시글 출력용 메소드(ajax) -->
	<select id="ajaxBoardListSelect" parameterType="int" resultType="Board">
		SELECT * FROM BOARD WHERE BOCODE = #{boCode}
	</select>
	
	
<!-- 좋아요 감소 메소드(ajax) -->
	<update id="boLikeDown" parameterType="int">
		UPDATE BOARD SET BOLIKE = BOLIKE - 1 WHERE BOCODE = #{boCode}
	</update>
	
<!-- 좋아요 테이블 등록 메소드(ajax) -->
	<insert id="boLikeInsert" parameterType="boardLike">
		INSERT INTO BOARDLIKE VALUES(BOLIKE_SEQ.NEXTVAL,#{bolBoCode},#{bolMid})
	</insert>
	
<!-- 좋아요 게시글 목록 불러오기 메소드(ajax) -->
	<select id="boLikeCheck" parameterType="boardLike" resultType="boardLike">
		SELECT * FROM BOARDLIKE WHERE BOLBOCODE = #{bolBoCode} AND BOLMID = #{bolMid}
	</select>
	
<!-- 좋아요 테이블 삭제 메소드(ajax) -->
	<delete id="boLikeDelete" parameterType="boardLike">
		DELETE FROM BOARDLIKE WHERE BOLBOCODE = #{bolBoCode} AND BOLMID = #{bolMid}
	</delete>
	
<!-- 게시글 제목검색(ajax) -->
	<select id="ajaxBoardSelect" parameterType="String" resultType="Board">
		SELECT * FROM BOARD WHERE BOTITLE LIKE '%'||#{boTitle}||'%' ORDER BY BOCODE DESC
	</select>
	
<!-- 게시글 작성자 피드 이동 -->
	<select id="boardWriterView" parameterType="String" resultType="Board">
		SELECT * FROM BOARD WHERE BOWRITER = #{boWriter} ORDER BY BOCODE DESC
	</select>
	
<!-- 좋아요한 게시글만 출력하는 메소드 -->
	<select id="LikeBoardList" parameterType="String" resultType="Board">
		SELECT B.BOCODE, B.BOWRITER, B.BOTITLE, B.BOIMAGE, B.BOCONTENT, B.BOLIKE, B.BODATE
		FROM BOARD B, BOARDLIKE BOL
		WHERE BOCODE = BOLBOCODE AND BOLMID = #{bolMid}
		ORDER BY BOCODE DESC
	</select>
	
<!-- 팔로우한 게시글만 출력하는 메소드 -->
	<select id="followedBoardList" parameterType="String" resultType="Board">
		SELECT BD.* FROM BOARD BD 
		INNER JOIN SUBSCRIPTION SUB ON SUB.SSERMID = BD.BOWRITER 
		AND SUB.SSMID = #{bolMid} ORDER BY BD.BOCODE DESC
	</select>

<!-- 내 게시글만 출력하는 메소드 -->
	<select id="myBoardList2" parameterType="String" resultType="Board">
		SELECT * FROM BOARD WHERE BOWRITER=#{bolMid} ORDER BY BOCODE DESC
	</select>		
		


<!-- 게시글을 좋아요한 사람들을 출력하는 메소드 -->
	<select id="boardListUserList" parameterType="int" resultType="Member">
				SELECT M.MNAME, M.MPROFILENAME, M.MID
		FROM MEMBER M, BOARDLIKE B
		WHERE B.BOLMID = M.MID AND BOLBOCODE = #{bolBoCode} 
	</select>

	<!--  게시글 작성자 팔로우 표시하는 메소드 -->
	 <select id="memCount" resultType="int">
		SELECT COUNT(*) FROM SUBSCRIPTION WHERE SSERMID = #{boWriter}
	</select>
	<select id="subCheck" parameterType="String" resultType="String">
   SELECT SSMID FROM SUBSCRIPTION WHERE SSERMID=#{boWriter} AND SSMID=#{mId}
   </select>
    <select id="memCount1" resultType="int">
		SELECT COUNT(*) FROM SUBSCRIPTION WHERE SSMID = #{mId}
	</select>
	<select id="muTrack" resultType="int">
		SELECT COUNT(*) FROM MUSIC WHERE MUSINGER = #{boWriter}
	</select>
	
	<select id="boaCount" resultType="int">
		SELECT COUNT (*) FROM BOARD WHERE BOWRITER = #{boWriter}
	</select>
	
<!-- 내가 올린 게시글 리스트(ajax) -->
	<select id="myBoardList" parameterType="String" resultType="Board">
		SELECT * FROM BOARD WHERE BOWRITER = #{boWriter} ORDER BY BOCODE DESC
	</select>

<!-- 게시글 삭제(ajax) -->
	<delete id="ajaxBoardDelete" parameterType="int">
		DELETE FROM BOARD WHERE BOCODE = #{boCode}
	</delete>

</mapper>