<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.icia.musicwired.dao.CrawlingMapper">
	
	<insert id="insertName">
	<foreach collection="list" open="DECLARE BEGIN" close="; END;" separator=";" item="menu">
		INSERT INTO MENU(NAME) VALUES(#{menu.name})
	</foreach>
	</insert>
</mapper>