<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.icia.musicwired.dao.uploadDao">

    <insert id="fileUpload" parameterType="audio">
        INSERT INTO MUSIC
        VALUES (MUSIC_SEQ.NEXTVAL, #{muSinger}, #{muName}, #{muGanre},
                SYSDATE, #{muImage}, #{muLyrics},

                0, 0, #{mFile})

    </insert>
    <select id="fileList" resultType="audio">
        SELECT *
        FROM PAGING
        WHERE RN BETWEEN #{startRow} AND #{endRow}
    </select>

    <select id="muView" parameterType="audio" resultType="audio">

        SELECT *
        FROM MUSIC
        WHERE MUCODE = #{muCode}
    </select>


    <!--좋아요 상태 확인 -->
    <select id="LikeCheck" parameterType="mulike" resultType="String">
        SELECT MULMID
        FROM MUSICLIKE
        WHERE MULMUCODE = #{muCode} AND MULMID =#{mId}
    </select>

    <!--음악 좋아요 테이블에서 좋아요 개수 확인-->
    <select id="LikeListCount" parameterType="mulike" resultType="int">
        SELECT COUNT(*)
        FROM MUSICLIKE WHERE MULMUCODE = #{muCode}
    </select>

    <select id="memberView" parameterType="String" resultType="member">
        SELECT * FROM MEMBER WHERE MID = #{mId}
    </select>


    <select id="muListCount" resultType="int">
        SELECT COUNT(*)
        FROM MUSIC
    </select>
    <update id="fileModify" parameterType="audio">
        UPDATE MUSIC
        SET MUNAME   =#{muName},
            MUGANRE  =#{muGanre},
            MUIMAGE  =#{muImage},
            MULYRICS =#{muLyrics},
            MUPRICE  =#{muPrice},
            MFILE    =#{mFile}
        WHERE MUCODE = #{muCode}
    </update>
    <delete id="fileDelete" parameterType="int">
        DELETE
        FROM MUSIC
        WHERE MUCODE = #{muCode}
    </delete>

    <update id="muCount" parameterType="audio">
        UPDATE MUSIC
        SET MUHIT = MUHIT + 1
        WHERE MUCODE = #{muCode}
    </update>

    <select id="LikeList" parameterType="int" resultType="audio">
        SELECT *
        FROM MUSIC
        WHERE MUCODE = #{muCode}
    </select>


<!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<!-- 좋아요 +1 sql-->
    <insert id="LikeUp" parameterType="mulike">

        INSERT INTO MUSICLIKE
        VALUES (MULIKE_SEQ.NEXTVAL, #{mulmuCode}, #{mulMid})
    </insert>


    <select id="LikeTableUpCheck" parameterType="mulike" resultType="int">
       SELECT COUNT(*)
        FROM MUSICLIKE WHERE MULMUCODE = #{mulmuCode}
    </select>


<!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

    <!--좋아요 취소 sql -->
    <delete id="LikeDown" parameterType="mulike">
        DELETE FROM MUSICLIKE WHERE MULMUCODE = #{mulmuCode} AND MULMID =#{mulMid}
    </delete>

    <select id="LikeTableDownCheck" parameterType="mulike" resultType="int">
        SELECT COUNT(*)
        FROM MUSICLIKE WHERE MULMUCODE = #{mulmuCode}
    </select>

<!--/////////////////////////////////////////////////////////////////////////////////////////////////////////-->
    <select id="mlList" parameterType="int" resultType="member">
        SELECT M.MID, M.MPROFILENAME
        FROM MEMBER M,MUSICLIKE
        WHERE MID=MULMID AND MULMUCODE =#{mulmuCode}
    </select>

    <select id="MusicLikeList" parameterType="int" resultType="mulike">
        SELECT *
        FROM MUSICLIKEPAGING
        WHERE RN BETWEEN #{startRow} AND #{endRow}
    </select>
    <select id="MusicLikeCount" parameterType="mulike" resultType="int">
        SELECT COUNT(*)
        FROM MUSICLIKE
    </select>




    <delete id="LikeDelete" parameterType="mulike">
        DELETE FROM MUSICLIKE WHERE MULMUCODE = #{mulmuCode} AND MULMID =#{mulMid}
    </delete>

    <select id="LikeDeleteCheck" parameterType="mulike" resultType="mulike">
        SELECT *
        FROM MUSICLIKE
        WHERE MULMUCODE = #{mulmuCode}
          AND MULMID = #{mulMid}
    </select>


    <select id="mlList" parameterType="int" resultType="member">
        SELECT M.MID, M.MPROFILENAME
        FROM MEMBER M,MUSICLIKE
        WHERE MID=MULMID AND MULMUCODE =#{mulmuCode}
    </select>

    <select id="MusicLikeList" resultType="mulike">
        SELECT *
        FROM MUSICLIKEPAGING
        WHERE RN BETWEEN #{startRow} AND #{endRow}
    </select>
    <select id="MusicLikeCount" resultType="int">
        SELECT COUNT(*)
        FROM MUSICLIKE
    </select>

<select id="LikeMid" parameterType="int" resultType="mulike">
    SELECT MULMID FROM MUSICLIKE WHERE MULCODE = #{mulCode}
</select>
<!--<select id="LikeListCount" parameterType="int" >-->
<!--    SELECT COUNT(*)-->
<!--    FROM MUSICLIKE WHERE MULMUCODE = #{mulCode}-->
<!--</select>-->
</mapper>